# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# Jenv
.java-version

# Eclipse
.settings/
.classpath
.project

# IntelliJ IDEA
.idea
*.iml

# Branch switching
generated/
.DS_Store
.vscode/settings.json

# jenkins terraform local
jenkins/.terraform
jenkins/.terraform.lock.hcl
jenkins/terraform.tfstate
jenkins/terraform.tfstate.backup

# terraform terraform local
terraform/.terraform
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup